<!DOCTYPE html>
<html>
  <head>

    <script src="angular.js"></script>
    <script src="angular-ui-router.js"></script>
    <script src="angular-cookies.min.js"></script>
    <script src="something.js"></script>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <meta charset="utf-8">
    <title>Beer</title>
  </head>
  <body ng-app="BeerApp" ng-controller="HomeController">
    <form ng-submit="searchFunction(searchTerm, filter)">
      <input type="text" ng-model="searchTerm" placeholder="Search">
      <select ng-init="filter=both" ng-model="filter">
        <option value="both">Breweries and Beers</option>
        <option value="beers">Just Beers</option>
        <option value="breweries">Just Breweries</option>
      </select>
      <button type="submit">Click it real good</button>
    </form>
    <a ui-sref="login" ng-hide="logState"> <button type="button">Login</button></a>
    <a ng-click="logOut()" ng-show="logState"> <button type="button">Logout</button></a>
    <a ui-sref="users"> <button type="button">Users</button></a>
    <a ui-sref="signup" ng-hide="logState"> <button type="button">Signup</button></a>
    <p ng-show="logState">Hello, {{user_name}}!</p>
    <ui-view></ui-view>
  </body>
</html>
