body {
  background-color: ghostwhite;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 30px;
  background-color: #00a087;
}
}
button {
  width: 5%;
}
@font-face{
	font-family: 'underwood_champion';
	/*src: url('WebFont.eot');*/
	src:
  /*url('WebFont.eot?#iefix') format('embedded-opentype'),*/
	     /*url('WebFont.woff') format('woff'),*/
	     url('fonts/underwood_champion.ttf') format('truetype')
	     /*url('WebFont.svg#webfont') format('svg');*/
}

body, p, h1, h2, h3, h4 {
  font-family: 'underwood_champion';
}

.extras {
  background-color: #222;
}
.picSize {
  width: 400px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stock_beer {
  height: 220px;
  width: 220px;
}


.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10%;
}
img {
  margin: 10%;
  max-width: 70%;
}
.block {
  display: block;
  text-align: center;
}

.detailsTitle {
  text-align: center;
}
.content {
  display: inline-flex;;
  float: left;
}

body {
  background: linear-gradient(ghostwhite, antiquewhite);
}
