.extras {
  background-color: #222;
}
.picSize {
  width: 400px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stock_beer {
  height: 220px;
  width: 220px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10%;
}
img {
  margin: 10%;
  max-width: 70%;
}
.block {
  display: block;
  text-align: center;
}


.detailsTitle {
  text-align: center;
}

nav-pr
